<aside>
    <section>
        <img class="logo" src="/img/logo.png" alt="Mi Logo" />
    </section>
    <section class="nav-links">
        <a href="/" class="active">
            <img src="/icons/home.svg" alt="">
            Home
        </a>
        <a href="/albums">
            <img src="/icons/compact-disc.svg" alt="">
            Albums
        </a>
        <a href="/artists">
            <img src="/icons/user.svg" alt="">
            Artists
        </a>
        <a href="/songs">
            <img src="/icons/music.svg" alt="">
            Songs
        </a>
    </section>
    <section>
        <a href="/playlist-register">
            <img src="/icons/square-plus.svg" alt="">
            Add Plylist
        </a>
        <div>
            <!---->
            <a href="/playlist/1">
                <img src="/upload/playlist/image/1.jfif" alt="">
                My Playlist
            </a>
            <!---->
        </div>
    </section>
    <section class="user-actions">
        <a href="/login">
            <img src="/icons/logout.svg" alt="">
            Login
        </a>
        <a href="/settings">
            <img src="/icons/gear.svg" alt="">
            Settings
        </a>
    </section>
</aside>