*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.container{
    height: 100dvh;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 1fr;
    
}
main{
    overflow: hidden;
}
/*------------------------------------------------------*/

aside{
    width: 200px;
    height: 100%;
    background-color: black;
    color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;

    .sidebar-header{
        height: 60px;
        display: grid;
        grid-template-columns: 1fr max-content;
        align-items: center;
        position: relative;
        .logo{
            height: 100%;
            position: relative;
            
            img{
                position: absolute;
                display: block;
                height: 100%;
                max-width: 100%;
                padding: 10px;
            }
        }
        #menu-btn{
            display: block;
            width: 40px;
            height: 40px;
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
            img{
                padding: 10px;
                filter: invert();
                width: 100%;
                height: 100%;
            }
        }
    }
    
    nav{
        overflow: auto;
        scrollbar-width: none;
        display: grid;
        grid-template-rows: auto 1fr auto;
        section{
            border-top: 1px solid rgba(255, 255, 255, 0.4);

            a{
                text-decoration: none;
                color: rgba(255, 255, 255, 0.5);
                display: grid;
                grid-template-columns: auto 1fr;
                align-items: center;
                position: relative;
                img{
                    display: block;
                    width: 40px;
                    height: 40px;
                    padding: 10px;
                    filter: invert();
                }
                &:hover, &.active{
                    background-color: rgba(255, 255, 255, 0.1);
                }
                &.active::before{
                    position: absolute;
                    content: " ";
                    width: 4px;
                    height: 100%;
                    background-color: rgb(26, 255, 0);
                }
            }
            
        }
    }
}


.playlist{
    background: linear-gradient(to bottom, #2559c0, #000000);
    color: white;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
        "playlist-header playlist-header"
        "playlist-song playlist-video";
    overflow: hidden;
    .playlist-header{
        grid-area: playlist-header;
        display: grid;
        grid-template-columns: max-content 1fr max-content;
        padding: 20px;
        gap: 20px;
        .playlist-cover{
            display: block;
            width: 180px;
            height: 180px;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.664);
            border-radius: 5px;
            object-fit: cover;
        }
        .playlist-details{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            overflow: hidden;
            &>*{
                text-overflow: ellipsis;
                text-wrap: nowrap;
                overflow: hidden;
            }
            .playlist-title{
                font-size: 60px;
                font-weight: bolder;
                
            }
        }
        .btn-edit{
            background-color: white;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            position: relative;
            img{
                display: block;
                width: 100%;
                height: 100%;
                padding: 10px;
            }
        }
    }
    .playlist-song{
        grid-area: playlist-song;
        background-color: rgba(0, 0, 0, 0.5);
        display: grid;
        grid-template-columns: 1fr auto;
        padding: 20px;
        overflow: auto;
        table{
            height: max-content;
            width: 100%;
            border-collapse: collapse;
            thead{
                border-bottom: 2px solid rgba(255, 255, 255, 0.1);
                th{
                    padding: 10px;
                    text-align: left;
                    font-weight: 200;
                }
            }
            tbody{
                tr{
                    transition: .5s;
                    cursor: pointer;
                    td{
                        font-weight: 200;
                        padding: 10px;
                    }
                    &:hover,&.active{
                        background-color: rgba(0, 0, 0, 0.2);
                    }
                    &.active{
                        color: #33c444;
                    }
                    .title-item{
                        display: grid;
                        grid-template-areas:
                            "img title"
                            "img artist";
                        grid-template-columns: max-content 1fr;
                        align-items: center;
                        gap: 5px;
                        img{
                            display: block;
                            width: 30px;
                            height: 30px;
                            grid-area: img;
                            object-fit: cover;
                            overflow: hidden;
                        }
                        .title{
                            grid-area: title;
                            font-weight: bold;
                        }
                        .artist{
                            grid-area: artist;
                            font-size: 12px;
                        }
                    }

                }
            }
        }
    }
    .playlist-video{
        grid-area: playlist-video;
        height: 100%;
        width: 400px;
        video{
            display: block;
            background-color: #000000;
            min-height: 0px;
            width: 100%;
            height: 100%;
        }
    }
}


@media (max-width: 900px) {
    
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
    }
    aside{
        width: 100%;
        height: max-content;
        #toggle-menu:not(:checked) ~ nav {display: none;}
        #toggle-menu:checked ~ nav {display: block;}
        
        nav{
            background-color: black;
            z-index: 100;
            position: fixed;
            width: 100%;
            top: 60px;
            height: calc(100% - 60px);
        }
    }


    .playlist {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        grid-template-areas:
            "playlist-header"
            "playlist-video"
            "playlist-song";
        .playlist-video{
            width: 100%;
            aspect-ratio:1.5;
        }
        .playlist-header{
            padding: 10px;
            .playlist-cover{
                display: block;
                width: 40px;
                height: 40px;
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.664);
                border-radius: 5px;
                object-fit: cover;
            }
            .playlist-details{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                overflow: hidden;
                align-items: center;
                gap: 5px;
                .playlist-title{
                    font-size: 20px;
                }
                .playlist-owner::before{
                    content: "By ";
                }
            }
        }
    }
}