*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.container{
    height: 100dvh;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 1fr;
    
}
main{
    overflow: hidden;
}
/*------------------------------------------------------*/
aside{
    width: 200px;
    height: 100%;
    background-color: black;
    color: rgba(255, 255, 255, 0.5);
    overflow: auto;
    scrollbar-width: none;
    display: grid;
    grid-template-rows: auto auto 1fr auto;

    section{
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        &:last-child{border-bottom:none};
        .logo{
            display: block;
            width: 100%;
            padding: 20px;
        }

        a{
            text-decoration: none;
            color: rgba(255, 255, 255, 0.5);
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            position: relative;
            img{
                display: block;
                width: 40px;
                height: 40px;
                padding: 10px;
                filter: invert();
            }
            &:hover, &.active{
                background-color: rgba(255, 255, 255, 0.1);
            }
            &.active::before{
                position: absolute;
                content: " ";
                width: 4px;
                height: 100%;
                background-color: rgb(26, 255, 0);
            }
        }
        
    }
}


.playlist{
    background: linear-gradient(to bottom, #2559c0, #000000);
    color: white;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    overflow: hidden;
    .playlist-header{
        display: grid;
        grid-template-columns: max-content 1fr;
        padding: 20px;
        gap: 20px;
        .playlist-cover{
            display: block;
            width: 180px;
            height: 180px;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.664);
            border-radius: 5px;
            object-fit: cover;
        }
        .playlist-details{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            overflow: hidden;
            &>*{
                text-overflow: ellipsis;
                text-wrap: nowrap;
                overflow: hidden;
            }
            .playlist-title{
                font-size: 60px;
                font-weight: bolder;
                
            }
        }
    }
    .playlist-main{
        background-color: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr auto;
        .playlist-list{
            overflow: auto;
            padding: 20px;
            table{
                width: 100%;
                border-collapse: collapse;
                thead{
                    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
                    th{
                        padding: 10px;
                        text-align: left;
                        font-weight: 200;
                    }
                }
                tbody{
                    tr{
                        transition: .5s;
                        cursor: pointer;
                        td{
                            font-weight: 200;
                            padding: 10px;
                        }
                        &:hover,&.active{
                            background-color: rgba(0, 0, 0, 0.2);
                        }
                        &.active{
                            color: #33c444;
                        }
                        .title-item{
                            display: grid;
                            grid-template-areas:
                                "img title"
                                "img artist";
                            grid-template-columns: max-content 1fr;
                            align-items: center;
                            gap: 5px;
                            img{
                                display: block;
                                width: 30px;
                                height: 30px;
                                grid-area: img;
                                object-fit: cover;
                                overflow: hidden;
                            }
                            .title{
                                grid-area: title;
                                font-weight: bold;
                            }
                            .artist{
                                grid-area: artist;
                                font-size: 12px;
                            }
                        }

                    }
                }
            }
        }
        video{
            max-width: 400px;
            display: block;
            background-color: #000000;
            height: 100%;
        }
        
    }
    
}





/*
.player-controls{
    background-color: rgb(10, 10, 10);
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    padding: 20px;
    gap: 20px;
    button{
        background-color: transparent;
        outline: none;
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        cursor: pointer;
        padding: 8px;
        overflow: hidden;
        img{
            display: block;
            width: 100%;
            height: 100%;
        }
        &:hover{
            background-color: rgba(255, 255, 255, 0.1);
        }
    }.play-btn{
        background-color: white;
        &:hover{
            background-color: rgba(255, 255, 255, 0.5);
        }
    }

    .track-info{
        
    }
    .playback-controls{
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        .control-buttons{
            display: flex;
            flex-direction: row;
            gap: 10px;
            margin: auto;
        }
        .progress-bar{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            width: 100%;
            max-width: 400px;
            margin: auto;
            input{
                width: 100%;
                min-width: 0px;
            }
            small{
                text-wrap: nowrap;
            }
        }
    }
    .volume-control{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
        align-items: center;
        width: max-content;
        input{
            max-width: 100px;
            width: 100%;
            min-width: 0px;
        }
    }
}


*/















input[type="range"] {
    width: 100%;
    height: 8px;
    background: #444;
    border-radius: 5px;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {/*fondo*/
    height: 8px;
    border-radius: 5px;
    background: #464444;
}

input[type="range"]::-webkit-slider-thumb {/*bola*/
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
    border: none;
}

input[type="range"]::-moz-range-track {
    height: 8px;
    border-radius: 5px;
    background: #444;
}

input[type="range"]::-moz-range-thumb {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
    border: 2px solid #222;
}