<div class="playlist">
    <section class="playlist-header">
        <img class="playlist-cover" src="/img/playlist.png" alt="">
        <div  class="playlist-details" >
            <small>PLAYLIST</small>
            <span class="playlist-title">TITLE</span>
            <span class="playlist-owner">owner</span>
        </div>
    </section>
    <!----------------------------------------->
    <section class="playlist-main">
        <div class="playlist-list">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>TITLE</th>
                        <th>ALBUM</th>
                        <th>DURATION</th>
                    </tr>
                </thead>
                <tbody id="playlist-songs">
                    <tr class="active">
                        <td>1</td>
                        <td class="title-item">
                            <img src="/img/song.png" alt="">
                            <span class="title">Triller</span>
                            <span class="artist">Michael Jackson</span>
                        </td>
                        <td>ALBUM X</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <video id="video" poster="/img/music.webp" src="" controls></video>
    </section>
    <!----------------------------------------->
    <section class="playlist-footer">

    </section>
</div>

<script src="/js/playlist.js" type="module"></script>