<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>ATCH</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <%- include('../partials/navbar') %>
    <main>
      <%- body %>
    </main>
  </div>
</body>
</html>
